
<h1>Lista de tareas</h1>
<%= link_to('Nueva Tarea', todos_new_path, class:'btn btn-primary') %>
<br>
<br>
<div class="row">
<div class="col-md-5">
<% @todos.each do |todo| %>
    <div class="well">
        <div class="row flex-box">
            <div class="col-md-8">
                <p class="description"><%= todo.description %></p>
                <p class="text"><%= check_if_completed(todo) %></p>
                    <%  if todo.completed == true %>
                        <p class="status" style="color:green;"> Completado</p>
                    <% else %>
                        <p class="status"  style="color:red;">Incompleto</p>
                    <% end %>
                <ul class="rest-link">
                    <li><%= link_to('Ver', todo ) %></li>
                    <li><%= link_to('Editar', todos_edit_path(todo.id)  ) %></li>
                    <li><%= link_to('Borrar', todo, method: :delete, style:'color:red;') %></li>
                </ul>
                
                
                
            </div>
            <div class="col-md-4 btn-container">
                <%= link_to('Completar', todos_completed_path(todo.id), class:'btn btn-success' ) %>
            </div>

        </div>



    </div>

<% end %>
</div>
</div>
